<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- added for BLE beacon connectivity -->

    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <!-- Below is only needed if you want to read the device name or establish a bluetooth connection
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Below is only needed if you want to emit beacon transmissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!-- pubnub.com, android beacon tutorial recommendation for Bluetooth Device Discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <!-- so it can discover devices in the background without manually allowing/disallowing connections -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- so the app knows that Bluetooth and Bluetooth Low Energy are needed for the app-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatUS_Patient_Home"
        tools:targetApi="31">
        <activity
            android:name=".DoctorHomeView"
            android:exported="false" />
        <activity
            android:name=".DoctorView"
            android:exported="false" />
        <activity
            android:name=".PatientHomeView"
            android:exported="false" />
        <activity
            android:name=".PatientCareHistory"
            android:exported="false" />
        <activity
            android:name=".LoginView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>